{%  extends 'hms/base.html' %}
{% load static %}
{% block content %}

<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-header bg-info ">

				<h3 class="text-left text-white">ID : {{member.userid}} ({{member.firstname}} {{member.lastname}})</h3>

				</div>
				<div class="card card-body">
					<div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <fieldset disabled>
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input class="form-control"  aria-describedby="emailHelp" placeholder="{{member.firstname}} ">
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset disabled>
                                    <div class="form-group">
                                        <label>Last name</label>
                                        <input class="form-control"  aria-describedby="emailHelp" placeholder="{{member.lastname}} ">
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset disabled>
                                    <div class="form-group">
                                        <label>Email </label>
                                        <input class="form-control"  aria-describedby="emailHelp" placeholder="{{member.email}} ">
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset disabled>
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input class="form-control"  aria-describedby="emailHelp" placeholder="{{member.username}} ">
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset disabled>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input class="form-control"  aria-describedby="emailHelp" placeholder="{{member.password}} ">
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-3">
                                <fieldset disabled>
                                    <div class="form-group">
                                        <label>Phone number</label>
                                        <input class="form-control"  aria-describedby="emailHelp" placeholder="{{member.phonenumber}} ">
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-3">
                                <fieldset disabled>
                                    <div class="form-group">
                                        <label>Signup date</label>
                                        <input class="form-control"  aria-describedby="emailHelp" placeholder="{{member.signupdate}} ">
                                    </div>
                                </fieldset>
                            </div>
                            <div class="container my-3">
                                <div class="col-md-12 text-center">
                                    <a type="button" class="btn btn-info" href="{% url 'memberUpdate' member.userid %}">Update</a>

                                    <form action="{% url 'memberDelete' member.userid %}" class="d-inline"> {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
			
		</div>


{% endblock content %}